<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')  
} %>
    
<%- messages() %>

<h3>Welcome <%= account_firstname %></h3>

<% if (errors) { %>
    <ul class="errors">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>

<p>First Name: <%= account_firstname %></p>
<p>Last Name: <%= account_lastname %></p>
<p>Email: <%= account_email %></p>


<p><a href="/account/update/<%= locals.accountData.account_id %>">Update Account Information</a></p>

<% if (locals.accountData.account_type == "Admin" || locals.accountData.account_type == "Employee") { %>
    <p><a href="../inv">Inventory Management</a></p>
<% } %>

<h3>Message Center</h3>
<ul>
    <li>You have ___ messages to read</li>
    <li>Go to <a href="/message">inbox</a></li>
</ul>